/*
  variables
  ------------
*/

$body-font:'Montserrat', sans-serif;

$primary: rgb(51, 51, 51);
$secondary:rgb(85, 85, 85);

$mainBlue:rgb(113, 204, 255);
$mainGreen:rgb(113, 255, 149);
$mainRed:rgb(255, 113, 113);

$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;
